// Global colors

$bluish-purple: #6e45e2;
$light-blue-grey: #d7dbe8;
$dusk: #4f4f6f;
$cool-grey: #9fa4af;
$cloudy-blue: #ccccdf;
$seafoam-blue: #88d3ce;
$lightblue: #68cef0;
$black: #363442;

$red: #fe4e46;
$green: #8BC34A;
$blue: #2196F3;

$whited: #fff;
$blacked: #000;

$containersWidth: 1170px;
$headerHeight: 100vh;

$ripple-opacity: 0.4;

// z-index
$secondary-nav: 10;
$content-zindex: 20;
$header-zindex: 30;
$overlay-zindex: 40;
$cart-zindex: 50;
$modal-zindex: 60;
